version: '3.8'

services:
  app:
    build: .
    ports:
      - "${APP_PORT}:8000"
    environment:
      - APP_NAME=${APP_NAME}
      - APP_PORT=${APP_PORT}
      - GOOGLE_CLIENT_ID=${GOOGLE_CLIENT_ID}
      - GOOGLE_CLIENT_SECRET=${GOOGLE_CLIENT_SECRET}
      - GOOGLE_REDIRECT_URI=${GOOGLE_REDIRECT_URI}
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_NAME=${DB_NAME}
      - ADMIN_EMAIL=${ADMIN_EMAIL}
    volumes:
      - .:/app # Mount current directory to /app inside container for Hot Reload
      - /var/run/docker.sock:/var/run/docker.sock
    depends_on:
      - db
    restart: always

  db:
    image: postgres:13
    ports:
      - "${DB_EXTERNAL_PORT}:5432"
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

volumes:
  postgres_data:
